{% extends "base.html" %}
{% block content %}
<h3 class="sub-header">Archivo</h3>
<div class="container-fluid">
    <form role="form">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="baseName">Nombre de la Base de Datos</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="baseName" id="baseName" placeholder="Padrón, Campaña, etc." required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="baseDesc">Descripción</label>
                <div class="input-group">
                    <textarea name="baseDesc" id="baseDesc" class="form-control" rows="3"></textarea>
                    <span class="input-group-addon"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            {% if upload_id %}
            <input id="uploadId" type="hidden" value="{{ upload_id }}"></input>
            <div class="form-group">
                <label for="inputFile">Seleccione el archivo</label>
                <div class="input-group">
                    Ya subido
                </div>
            </div>
            <div class="form-group">
                <label for="WriteChangesBtn">Subir al servidor</label>
                <input name="WriteChangesBtn" id="WriteChangesBtn" class="btn btn-primary btn-block" value="Escribir Cambios" 
                type="submit" class="form-control">
            </div>
            <div class="progress">
                <div class="progress-bar" id="uploadProgress" 
                    role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only" id="progressText"></span>
                </div>
            </div>
            {% else %}
            <div class="form-group">
                <label for="inputFile">Seleccione el archivo</label>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-info btn-file">
                            Examinar&hellip; <input name="inputFile" type="file" data-url="{{ url_for("api.ImportsView:upload") }}" multiple>
                        </span>
                    </span>
                    <input type="text" class="form-control" id="fileName" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="UploadBtn">Subir al servidor</label>
                <input name="UploadBtn" id="UploadBtn" class="btn btn-primary btn-block" value="Iniciar" type="submit" class="form-control" disabled>
            </div>
            <div class="progress">
                <div class="progress-bar" id="uploadProgress" 
                    role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only" id="progressText"></span>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</div>
<h3 class="sub-header">Mapeo de Campos</h3>
<div class="container-fluid">
    <p>Una vez elegido el archivo, arrastre los campos en su ubicación.
    <div id="fields-detected" class="well">
    </div>
    <div class="col-lg-6">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Nombre Completo</h4>
                <p>Nombre y apellido de una persona</p>
                <div id="dropName" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Apellido</h4>
                    <div id="dropNameLast" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Nombre</h4>
                    <div id="dropNameName" class="field-drop well"></div>
                </li>
            </div>
        </div>
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">ID</h4>
                <p>Tipo y/o número de documento</p>
                <div id="dropPersonalId" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Tipo</h4>
                    <div id="dropPersonalIdType" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Número</h4>
                    <div id="dropPersonalIdNumber" class="field-drop well"></div>
                </li>
            </div>
        </div>
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Teléfono Fijo</h4>
                <p>Número telefónico completo</p>
                <div id="dropPhone" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Cod. Área</h4>
                    <div id="dropPhoneCode" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Número</h4>
                    <div id="dropPhoneNumber" class="field-drop well"></div>
                </li>
            </div>
        </div>
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Email</h4>
                <p>Dirección de correo electrónico</p>
                <div id="dropEmail" class="field-drop well"></div>
            </li>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Domicilio</h4>
                <p>Calle, ciudad, etc. </p>
                <div drop="dropAddress" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">CP</h4>
                    <div id="dropAddressPostalCode" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Localidad</h4>
                    <div id="dropAddressCity" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Provincia</h4>
                    <div id="dropAddressProvince" class="field-drop well"></div>
                </li>
            </div>
        </div>

        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Celular</h4>
                <p>Número de celular de la persona</p>
                <div id="dropMobile" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Cod. Área</h4>
                    <div id="dropMobileCode" class="field-drop well"></div>
                </li>
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Número</h4>
                    <div id="dropMobileNumber" class="field-drop well"></div>
                </li>
            </div>
        </div>

        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Fecha de Nacimiento</h4>
                <p>Fecha completa de nacimiento</p>
                <div id="dropBirthDate" class="field-drop well"></div>
            </li>
            <div class="subfields">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Clase</h4>
                    <p class="text-muted">Año de nacimiento</p>
                    <div id="dropBirthYear" class="field-drop well"></div>
                </li>
            </div>
        </div>

        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Género</h4>
                <div id="dropGender" class="field-drop well"></div>
            </li>
        </div>

        <div class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Usuario de Facebook</h4>
                <div id="dropSocialFbUsername" class="field-drop well"></div>
            </li>
        </div>

    </div>
</div>
<div class="container-fluid">
    <fieldset>
        <form>
            <div class="col-lg-12">
                <center>
                <div class="form-group">
                    <input name="ProcessBtn" id="ProcessBtn" class="btn btn-primary btn-lg" value="Procesar" type="submit" class="form-control" disabled>
                </div>
            </center>
            </div>
        </form>
        <legend></legend>
    </fieldset>
</div>
{% endblock %}

{% block script %}
{% assets "js_uploader" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
    var uploadId;

    $(document).ready(function() {

        $("form").submit(function(e){
            e.preventDefault();
            //$('.btn-file :file').fileupload('send');
        });

        $("#ProcessBtn").click(function (){
            sendMap();
        });

        // Escribir cambios de un upload ya hecho
        $("#WriteChangesBtn").on('click', function () {
            $.ajax({
                url: "{{ url_for("api.ImportsView:edit_upload") }}",
                type: "post",
                cache: false,
                data: {
                    uploadId:$("#uploadId").val(),
                    baseName: $("#baseName").val(),
                    baseDesc: $("#baseDesc").val()
                }
            }).done(function(reply){
                if (reply.error){
                    alert(reply.error);
                }else{
                    $('#uploadProgress').css('width', '100%');

                    uploadId = reply.id;
                    //$("#UploadBtn").prop("disabled", false);
                    buildDraggableFields(reply);
                    $("#ProcessBtn").prop("disabled", false);
                }
            })
        });


        // Configurar upload
        $('.btn-file :file').fileupload({
            dataType: 'json',
            add: function (e, data) {            
                $("#UploadBtn").off('click').on('click', function () {
                    data.submit();
                });
                $("#ProcessBtn").prop("disabled", true);
                $("#fileName").val(data.files[0].name);
                sendHeader(data.files[0]);
            },
            done: function (e, data) {
                $("#ProcessBtn").prop("disabled", false);
            },
            progressall: function (e, data) {
                console.log(data.loaded);
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#uploadProgress').css('width', progress + '%');
            },
            submit: function(e, data) {
                if ($("#baseName").val().length == 0){
                    return false;

                }
                data.formData = {
                    uploadId:  uploadId,
                    baseName: $("#baseName").val(),
                    baseDesc: $("#baseDesc").val()
                };
            }
        });
    });

    function sendHeader(file){
        var reader = new FileReader();

        reader.onloadend = function(e){
            if (e.target.readyState == FileReader.DONE){
                $.ajax({
                    url: "{{ url_for("api.ImportsView:peek") }}",
                    type: "post",
                    cache: false,
                    //contentType: "application/x-www-form-urlencoded",
                    contentType: "binary/octet-stream",
                    data: e.target.result
                }).done(function(reply){
                    if (reply.error){
                        alert(reply.error);
                    }else{
                        uploadId = reply.id;
                        $("#UploadBtn").prop("disabled", false);
                        buildDraggableFields(reply);
                    }
                })
            }
        };
        var blob = file.slice(0, 5000);
        reader.readAsBinaryString(blob);
    }

    function droppedFields($drop){
        var values = []
        $drop.find(".field-head-name").each(function(index){
            values.push($(this).text());
        });
        console.log(values);
        return values;
    }

    function sendMap(){
        $.ajax({
            url: "{{ url_for("api.ImportsView:map") }}",
            type: "post",
            data: {
                "uploadId":           uploadId,
                "email":              droppedFields($("#dropEmail")),
                "name":               droppedFields($("#dropName")),
                "name_last":          droppedFields($("#dropNameLast")),
                "name_name":          droppedFields($("#dropNameName")),
                "gender":             droppedFields($("#dropGender")),
                "birth_date":         droppedFields($("#dropBirthDate")),
                "birth_year":         droppedFields($("#dropBirthYear")),
                "personal_id":        droppedFields($("#dropPersonalId")),
                "personal_id_type":   droppedFields($("#dropPersonalType")),
                "personal_id_number": droppedFields($("#dropPersonalNumber")),
                "phone":              droppedFields($("#dropPhone")),
                "phone_code":         droppedFields($("#dropPhoneCode")),
                "phone_number":       droppedFields($("#dropPhoneNumber")),
                "address":            droppedFields($("#dropAddress")),
                "address_postalcode": droppedFields($("#dropAddressPostalCode")),
                "address_city":       droppedFields($("#dropAddressCity")),
                "address_province":   droppedFields($("#dropAddressProvince")),
                "mobile":             droppedFields($("#dropMobile")),
                "mobile_code":        droppedFields($("#dropMobileCode")),
                "mobile_number":      droppedFields($("#dropMobileNumber")),
                "social_fb_username": droppedFields($("#dropSocialFbUsername"))
            }
        }).done(function(reply){
            if (reply.error){
            }else{
                window.location.href = "{{ url_for("abm.overview") }}"
            }
        });
    }

    function buildDraggableFields(data){
        console.log(data)
        $("#fields-detected").html("");
        for (var idx=0; idx<data.fields.length; idx++){
            $("#fields-detected").append(
                "<span class='field-head-name draggable ui-'>"+ data.fields[idx] +"</span>"        
            );
        }

        $(".draggable").draggable({ cursor: "crosshair", revert: "invalid"});
        $("#fields-detected").droppable({ accept: ".draggable",
            drop: function(event, ui) {
                console.log("drop");
                $(this).removeClass("border").removeClass("drag-over");
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);      
            }, 
               
        });
        $(".field-drop").droppable({ accept: ".draggable", 
            drop: function(event, ui) {
                console.log("drop");
                $(this).removeClass("border").removeClass("drag-over");
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);      
            }, 
            over: function(event, elem) {
                $(this).addClass("drag-over");
                console.log("drag-over");
            },
            out: function(event, elem) {
                $(this).removeClass("drag-over");
            }
        });
        $("#drop").sortable();

        $(".field-drop").droppable({ accept: ".draggable", 
            drop: function(event, ui) {
                console.log("drop");
                $(this).removeClass("border").removeClass("drag-over");
                var dropped = ui.draggable;
                var droppedOn = $(this);
                $(dropped).detach().css({top: 0,left: 0}).appendTo(droppedOn);
            }
        });
    }
</script>

{% endblock %}
