{% extends "base.html" %}
{% block content %}
  <h1 class="page-header">Estadísticas</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>0</h4>
      <span class="text-muted">Personas</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>0</h4>
      <span class="text-muted">Emails</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>0</h4>
      <span class="text-muted">Teléfonos</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <h4>0</h4>
      <span class="text-muted">Perfiles</span>
    </div>
  </div>

<h2 class="sub-header">Composición</h2>
<div>
<table
    data-classes="table table-no-bordered"
    data-toggle="table"
    data-show-refresh="false"
    data-show-header="true"
    data-click-to-select="true"
    data-single-select="true"
    data-pagination="true"
    data-page-list="[10,20,100,250,500]"
    data-page-size="10"
    data-side-pagination="client"
    data-show-filter="false"
    data-search="false"
    data-show-toggle="false"
    data-detail-view="false"
    data-url="{{ url_for("api.ImportsView:get") }}">
    <thead>
    <tr>
        <th data-field="name" data-sortable="true" data-visible="true" >
            Nombre
        </th>
        <th data-field="desc" data-sortable="false" data-visible="true" >
            Descripción
        </th>
        <th data-field="fields" data-visible="true">
            Campos que Aporta
        </th>
        <th data-field="count" data-sortable="true" data-visible="true">
            Cantidad
        </th>
        <th data-field="status" data-sortable="true" data-visible="true">
            Estado 
        </th>
        <th data-field="actions" data-sortable="false" data-visible="true">
            Acción
        </th>
    </tr>
    </thead>
</table>
</div>

{% endblock %}
